body,ul,input,p,h3{
	margin: 0;
	padding: 0;
}
img{border: none;}
input {
  border: none;
}
ul {
  list-style: none;
}
img {
  border: none;
  vertical-align: top;
}
a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: #818788;
}
input {
  -webkit-appearance: none;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  margin:0;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-size: 0.5rem;
  font-family: Arial, Helvetica, STHeiTi, sans-serif;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}
.title{
width:100%;height:1.25rem;line-height:1.25rem;text-align:center;
font-weight:normal;color:#31d2e2;font-family:黑体;
margin-bottom:1px;background:#fff;font-size:0.6rem
}
.head_box {
  width: 100%;
  height: 1.85rem;
  background-color: #fabc09;
  position:absolute;
  z-index:2
}
.head_box .btn_type {
  float: left;
  width: 1.95rem;
  height: 1.85rem;
  background: url(../img/ico-type.jpg) no-repeat 0.55rem 0.25rem;
  background-size: 0.825rem 1.375rem;
}
.head_box .search_box {
  float: left;
  width: 12rem;
  height: 1.85rem;
  position: relative;
}
.search_box .search_form {
	padding-top: 0.35rem;
	height: 1.25rem;
}
.search_box .search_text{
	width:12rem;
	height:1.25rem;
	border-radius:0.15rem;
	text-indent:1.25rem;
	font-size:0.5rem;
	background:url(../img/ico-search.jpg) no-repeat #d5dba9 0.4rem 0.275rem;
	background-size:0.55rem 0.575rem
}
.head_box .shop_car{
	float: left;
	width:2.05rem;
	height: 1.85rem;
	background: url(../img/ico-shopCar.jpg) no-repeat 0.4rem 0.2rem;
	background-size:1.25rem 1.4rem;
}
.wrap{
	width:100%;
	margin-top: 1.85rem;
}
.img_box{
	width:100%;
	overflow:hidden;
	position:relative
}
.banner{
	width:128rem;
}
.banner li{float:left;width:16rem;}
.banner img{
	width: 100%;
}
.btn{position:absolute;right:0.5rem;bottom:0.4rem}
.btn a{width:0.25rem;height:0.25rem;float:left;border-radius:50%;background:#efefef;
margin-left:0.2rem}
.btn .active{background:#ffc001}
.nav_list{
	width: 100%;
	padding: 0.45rem 0 0.05rem 0;
	box-sizing:border-box;
	background: #cce3d1;
	border: 1px solid #acd3b3;
}
.nav_list a{
	width: 20%;
	float: left;
	height: 2.85rem;
	text-align: center;
}
.nav_list img{
	width:1.7rem;
	height:1.75rem;
}
.nav_list p{
	line-height: 1.1rem;
}

.suning_tt{
	width:100%;
	height: 2.175rem;
	background: #cce3d1;
	border-top:2px solid #bbdac0;
	border-bottom:0.375rem solid #b8d9be
}
.suning_tt .tt_title{
	width:3.475rem;
	height:2.175rem;
	float:left;
	background:url(../img/ico-tt.jpg) 0 0.55rem no-repeat;
	background-size:3.1rem 1rem;
}
.suning_tt .tt_line{
	width:1px;
	height: 0.825rem;
	float:left;
	background:#97c1a0;
	margin-top:0.675rem
}
.suning_tt .tt_list{
	width:10.75rem;
	height: 1.5rem;
	margin-top:0.35rem;
	box-sizing:border-box;
	float: left;
	overflow:hidden;
	position:relative
}
.tt_list ul{position:absolute;top:0}
.suning_tt .tt_list a{
	line-height: 0.7rem;
	display:block;
	background: url(../img/ico-list.jpg) no-repeat 0.8rem 0.35rem;
	background-size:0.15rem 0.15rem;
	padding-left: 1.25rem;
	font-family: 微软雅黑;
}
.suning_tt .tt_list a:nth-of-type(1){
	color:#363636
}
.shop_type{
	border-top:0.1rem solid #bfcba9;
	background: #b9d0b9;
	padding-bottom: 0.5rem;
}
.type_top{
	height: 6.2rem;
	overflow: hidden;
}
.type_top .big_img,.type_top .big_img a, .big_img img{
	width:7.975rem;
	height: 6.2rem	
}
.big_img{margin-right: 1px;}
.type_top .sub_img,.sub_img img{
	width:7.975rem;
	height:3.075rem;
	margin-bottom: 1px;
}
.type_top li,.type_top a{float:left}

.type_bottom img{
	width:3.975rem;
	height: 6.425rem;
}
.type_bottom li{
	float:left;
	margin:0 1px 1px 0
}
.suning_qg{
	width:100%;
	background:#cce3d1;
	border-top:0.35rem solid #cdd9c8;
	box-sizing:border-box;
}
.suning_qg .head{
	width:100%;
	height:1.35rem;
	padding-left:0.4rem;
	box-sizing:border-box
}
.suning_qg .title{
	width:2.9rem;
	height:1rem;
	background:url(../img/title-qg.jpg) no-repeat;
	background-size:2.9rem 1rem
}
.title, .time_box, .update_time, .time_name{
	float:left
}
.time_box{
	font-size:0.45rem;
	padding:0.35rem 0 0 0.4rem
}
.time_box .time_name{
	font-size:0.45rem;
	color:#fd4243
}
.time_box .time_item{
	width:0.5rem;
	height:0.5rem;
	border:1px solid #809474;
	border-radius:0.1rem;
	display:inline-block;
	text-align:center;
	line-height:0.5rem;
	color:#3b3b3a;
	margin:0 0.2rem
}
.time_item:last-of-type{
	color:#ff3639;
	border-color:#ff3639
}

.head_right{
	float:right;
	padding:0.275rem 0.4rem 0 0;
}
.head_right .more{
	float:left;
	padding:0 0.2rem;
	height:0.725rem;
	background-color:#ffc001;
	border-radius:0.3rem;
	color:#336327;
	line-height:0.725rem;
	font-size:0.45rem
}
.head_right .ico_more{
	float:left;
	width:0.375rem;
	height:0.625rem;
	background:url(../img/ico-more.jpg) no-repeat;
	background-size:0.375rem 0.625rem;
	margin-left:0.05rem;
}
.shop_list li{
	width:4.7rem;
	float:left;
	margin-right:0.2rem;
	border:1px solid #b2cdb1;
	border-top:2px solid #b2cdb1
}
.shop_list img{width:4.7rem}
.shop_box{
	width:100%;
	overflow:hidden;
	padding-left:0.4rem;
	box-sizing:border-box
}
.shop_list{width:200%}
.shop_list .item_box{
	width:4.7rem;
	height:1.425rem;
	background:#ddd;
	padding-left:0.4rem;
	box-sizing:border-box;
	position:relative
}
.shop_list .item_box .jiage{
	color:#dd0000;
	line-height:0.7rem;
	display:block
}
.shop_list .item_box .yuanjia{
	font-size:0.4rem;
	color:#999;
	line-height:0.6rem;
	text-decoration:line-through;
}
.shop_list .item_box .zhekou{
	width:1.5rem;
	height:1.625rem;
	background:url(../img/ico-zhekou.jpg) no-repeat;
	background-size:100%;
	position:absolute;
	left:3.1rem;
	top:-0.175rem;
	color:#fff;
	text-align:center;
	padding-top:0.25rem;
	box-sizing:border-box
}
.big_font{
	font-size:0.55rem;
}
.big_font span{font-size:0.45rem}

.qg_bottom{width:100%;margin-top:0.475rem}
.qg_bottom img{width:100%}
.qg_bottom a{width:7.95rem;height:6.425rem;float:left;margin-right:2px;}

.shop_juhui{width:100%;overflow:hidden;background:#b8d9be;padding:0.5rem 0 0.45rem 0}
.shop_juhui .title{background:#fff;color:#fe2b4a;margin-bottom:1px}
.shop_juhui .juhui_img{width:100%;margin-top:2px}
.juhui_img a{float:left}
.juhui_img a:nth-of-type(1){margin-right:1px;width:7.95rem;height:8.55rem}
.juhui_img .item1{width:7.95rem;height:3.075rem;margin-bottom:1px}
.juhui_img .item2{width:3.95rem;height:5.4rem;margin-right:1px}
.juhui_img img{width:100%}
.shop_juhui .img_box{position:relative;margin-top:0.475rem}
.shop_juhui .banner{width:48rem;height:4.275rem}
.shop_juhui .banner li{float:left}
.shop_juhui .banner img{width:100%}
.jh_btn{position:absolute;top:0.4rem;right:0.5rem}
.jh_btn a{float:left;width:0.25rem;height:0.25rem;border-radius:50%;margin-left:0.2rem;
background:#efefef}
.jh_btn a.active{background:#ffc001}

.shop_tese{width:100%;background:#b8d9be}
.shop_tese a{float:left}
.shop_tese .title{color:#45c009}
.shop_tese .img_box{position:relative;margin-top:0.5rem;padding-bottom:0.5rem}
.tese_img{width:100%;margin-top:2px}
.tese_img a:nth-of-type(1){width:7.95rem;height:6.175rem;margin-right:2px}
.tese_img .item{width:7.95rem;height:3.075rem;margin-bottom:1px;margin-right:2px}
.tese_img img{width:100%}
.tese_img2{width:100%;margin-top:2px}
.tese_img2 .item{width:7.95rem;height:3.075rem;margin-bottom:1px;margin-right:2px}
.tese_img2 img{width:100%}
.tese_img3{width:16rem;height:4.275rem}
.tese_img3 a{width:100%;height:4.275rem}
.tese_img3 img{width:100%}
.tese_btn{position:absolute;top:0.4rem;right:0.5rem}
.tese_btn a{float:left;width:0.25rem;height:0.25rem;border-radius:50%;margin-left:0.2rem;
background:#efefef}
.tese_btn a.active{background:#ffc001}

.sc_shop{width:100%;background:#b8d7be}
.sc_shop .sc_top{width:100%;margin-top:1px}
.sc_top a{float:left;width:7.95rem;height:6.425rem;margin-right:2px}
.sc_top img{width:100%}

.sc_bottom{width:100%}
.sc_bottom a{float:left;width:5.25rem;height:5.525rem;margin-top:1px;margin-right:1px}
.sc_bottom img{width:100%}

.pp_shop{width:100%;background:#b8d9be;padding-bottom:0.5rem}
.pp_shop .title{color:#5e3efa}
.pp_shop a:nth-of-type(1){float:left;width:7.95rem;height:6.2rem}
.pp_shop a{float:left;width:3.95rem;height:6.2rem;margin-top:1px;margin-right:2px}
.pp_shop img{width:100%}

.jr_shop{width:100%;background:#b8d9be;padding-bottom:0.5rem}
.jr_shop .title{color:#2d8bfd}
.jr_shop a:nth-of-type(1){width:7.95rem;height:6.2rem;margin-right:2px}
.jr_shop a{float:left;width:7.95rem;height:3.075rem;margin-bottom:1px}
.jr_shop img{width:100%}

.tj_shop{width:100%;background:#cce3d1}
.tj_shop .title{border-bottom:1px solid #aad2b1}
.tj_box{width:100%;height:8.85rem;padding-top:1.25rem}
.tj_box .item{width:50%;float:left;padding:0.5rem 0 0.5rem 0}
.tj_box .item img{margin-left:0.35rem;float:left;width:1.7rem;height:1.7rem}
.tj_box .item p{float:left;padding-left:0.4rem}
.tj_box p strong{font-weight:normal;font-size:0.6rem;line-height:0.75rem;
font-family:微软雅黑;color:#303030;display:inline-block}
.tj_box p span{line-height:1rem;color:#939093;display:block}

.tj_box .list{width:100%;padding:2.75rem 0 0 0.35rem;box-sizing:border-box}
.tj_box .list li{float:left;height:4.9rem;width:7.375rem}
.tj_box .list li:nth-of-type(1){margin-right:0.5rem}
.tj_box .list .item2{margin-bottom:0.075rem}
.tj_box .list li a{float:left;border:2px solid #b2ccb0;margin-right:1px}
.tj_box .list li a:nth-of-type(1){width:4.8rem;height:4.775rem}
.tj_box .list li a{width:2.325rem;height:2.3rem}
.tj_box .list img{width:100%}
.tj_box .btn{position:relative;left:7.5rem;top:0.3rem;display:inline-block;}
.tj_box .btn span{width:0.25rem;height:0.25rem;border-radius:50%;background:#a3c9ab;
float:left;margin-right:0.15rem}
.tj_box .btn .active{background:#ffc001}

.xh_shop{width:100%;background:#b8d9be}
.xh_shop .xh_title{width:100%;height:1.9rem;font-weight:normal;font-size:0.675rem;
color:#325f1a;text-align:center;font-family:黑体;position:relative}
.xh_title .side_left{width:5.3rem;height:2px;background:url(../img/side.jpg);
display:block;background-size:100%;position:absolute;left:0.4rem;top:1.075rem}
.xh_title .side_right{width:5.3rem;height:2px;background:url(../img/side.jpg);
display:block;background-size:100%;position:absolute;right:0.5rem;top:1.075rem}
.xh_title .bg{display:inline-block;line-height:0.85rem;padding-left:1rem;background:url(
../img/ico.jpg) no-repeat;margin-top:0.625rem;background-size:0.875rem 0.85rem}

.xh_list{width:100%}
.xh_list a{float:left;background:#cbe3d1;width:7.375rem;margin:0 0 0.4rem 0.4rem}
.xh_list a img{width:100%}
.xh_list a p{color:#242224;font-family:黑体;line-height:0.75rem;padding:0.125rem 0 0 0.15rem;
font-size:0.5rem}
.xh_list a span{color:#e5080a;font-family:黑体;line-height:0.9rem;padding-left:0.25rem}
.xh_shop .xh_img{width:100%;height:3.225rem;display:block;padding-bottom:0.5rem}
.xh_shop .xh_img img{width:100%}

footer{width:100%;height:4.625rem;background:#cbe3d1}
footer nav a{color:#303232;width:20%;float:left;text-align:center;font-family:黑体;
font-size:0.55rem;line-height:1.9rem}
footer p{color:#827e82;padding:0.5rem 0 0 2.05rem}